<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="background"></div>
    <div class="container">
        <h1>Space Exploration</h1>
        <div class="search-box">
            <h2>Search by Link</h2>
            <input type="text" id="imageLink" placeholder="Enter image link">
        </div>
        <div class="upload-box">
            <h2>Upload Image</h2>
            <form method="post" enctype="multipart/form-data"> <input type="file" id="imageUpload" name="file"
                    accept="image/*">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div id="result">
        <img id="imageDisplay" src="{{ image_url or '' }}" alt="Celestial Image">
        <div id="imageInfo">{{ prediction or '' }}</div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>